
.cards{
       padding-top: 0em;
       text-align:center; margin-top:2em; font-size:1em;
}
.carsole{
      
       margin-bottom: 2px;
       text-align: center;
       font-size: 3em;
       font-family: 'Courier New', Courier, monospace;
       font-weight: bold;
}
.cards-background{
       border-radius: 1em;
       background-color: rgb(96, 193, 231);
}
.cards-pd{
       padding-top:0em
}
.share{
       font-size:1.5em;color:blue;
}
.item-dis{
       font-size:1.5em;
}
.butten{
       float:right;padding:30px;margin:10px;border:2px solid grey; margin-right:20px;font-size:1.3em;
       flex-direction: row;
}
.upper-look{
       margin:2em;
}
.nav-addme{
       font-size:3em;margin-top:0px; padding-top:0px ;background:black;
}
.cart-btn{
       width:15em;font-size:0.7em;border-radius: 12px;
}

.buy-btn{
       /* border: 2px solid black; */
       border-radius: 12px;
       margin: 0.5em;
       width: 27em ;

        height: 2.5em;
     
       font-size: 1.5em;
}
.parent-block{
       
       float:none;
       margin-top:2em;
       margin-bottom:0px;
}
.dark{
       background-color: black;
}
.child-block{
       margin:5px;
       width: 90px;
       height: 90px;
       display: inline-block;

}
.card2-background{
       border-radius: 1em;
       background-color: rgb(226, 158, 33);
}
.sh-bar{
       border:0.1em solid rgb(66, 69, 212);
       border-radius: 0.1em;
      
}
.emi{
       margin-top:2em; background-color:rgb(231, 187, 106); width:100%;

}
.center{
       margin-top: 2em;
       height: 7em;
       border-radius: 1em;
       background-color: orange ;
}
.h{
       padding-top: 0.5em;
     font-size: 3.5em;
     font-weight: bold;
     text-align: center;
}
.comment{
       border: 2px solid black;
       width : 7em;
       margin: 1em;
}

.comment_display{
       text-align: left;
       font-weight: bold;
       font-size:2em;
       margin-top: 0.5em;

}
.seprate{
       font-size:1.5em;
}

.im{
       float:left;
}

.para{
       margin-right:1em;
       
}
.h2-head{
       font-size:3.6em;
}
.text-class{
       font-size:2.5em; text-align: justify; margin:0.5em ;
}